body {
  margin: 0 auto !important;
  max-width: 1440px;
  background-color: #f0f4f8;
}

h4 {
  margin: 0;
}

.scrn1 {
  display: flex;
  flex-direction: column;
  margin: 30px auto 60px;
  width: 75%;
}

.scrn1-hdng {
  color: #7B53E8;
  font-size: 36px;
  font-weight: 700;
}

.leader-image-cont {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  margin: 60px auto 0;
}

.leader {
  position: relative;
  width: 25%;
  margin-top: 1rem;
}

.leader-image {
    width: 100%;
}

.leader-desc {
  position: absolute;
  bottom: -15%;
  background-color: white;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  width: 75%;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}

.leader-image-cont h4 {
  position: relative;
  margin-bottom: 10px;
  font-size: 16px;
  padding-bottom: 10px;
}

.designation {
  display: flex;
  justify-content: space-between;
}

.designation span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.leader-image-cont h4::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #7fa5c0;
  bottom: 0;
  left: 0;
}

.leader-detail {
    width: 70%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.info {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.link {
  color: #7B53E8 !important;
}

@media only screen and (max-width: 480px) {
  .scrn1 {
    margin: 30px auto;
    width: 90%;
  }

  .scrn1-hdng {
    font-size: 32px;
  }

  .leader-image-cont {
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }
  
  .leader {
      width: 100%;
      margin-bottom: 60px;
  }

  .leader-desc {
    bottom: -12%;
    width: 80%;
  }

  .leader-detail {
    width: 100%;
  }
}